.item__comparison
  .item__comparison__subject
    おすすめ商品
  %table.item__comparison__frame
    %tr
      %th.space
      %td
        = image_tag(src="https://images-na.ssl-images-amazon.com/images/I/71txTjSsvuL._UY395_.jpg", class: "example")
      %td
        = image_tag(src="https://www.bellemaison.jp/product/pic_m/4412013F/D32923pm01_44113F.jpg", class: "example")
      %td
        = image_tag(src="https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum900__/maison-de-latir/maison-de-latir/cabinet/bag_2/bag_0087_c_01.jpg", class: "example")
      %td
        = image_tag(src="https://img02.shop-pro.jp/PA01171/269/product/96990103.jpg?cmsp_timestamp=20151222133038", class: "example")
    %tr
      %th.space
      %td.column
        %b この商品は
        お手軽バック
      %td.column
        %a{:href => ""}SUN UP Lady SHUSHU
      %td.column
        %a{:href => ""}Girls Funky
      %td.column
        %a{:href => ""}Love ACTION
    %tr
      %th.space
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
    %tr.color
    %tr
      %th.evaluation  価格
      %td.evaluation--color2  ¥ 6120
      %td.evaluation  ¥ 2400
      %td.evaluation  ¥ 5400
      %td.evaluation  ¥ 3400
    %tr.color
      %th.evaluation  出荷
      %td.evaluation--color1  対象商品¥ 2,000以上の注文で通常配送無料
      %td.evaluation  情報が提供されていません
      %td.evaluation  情報が提供されていません
      %td.evaluation  対象商品¥ 2,000以上の注文で通常配送無料
    %tr
      %th.evaluation  販売者
      %td.evaluation--color2  Amazon.co.jp
      %td.evaluation  Amazon.co.jp
      %td.evaluation  Amazon.co.jp
      %td.evaluation  Amazon.co.jp
    %tr.color
      %th.evaluation  商品本体サイズ
      %td.evaluation--color1  情報が提供されていません
      %td.evaluation  34 × 4.2 × 12.8 cm
      %td.evaluation  37 × 5.5 × 15 cm
      %td.evaluation  情報が提供されていません
    %tr
      %th.evaluation  品目の重量
      %td.evaluation--color2  情報が提供されていません
      %td.evaluation  240 g
      %td.evaluation  400 g
      %td.evaluation  情報が提供されていません
