.item__comparison
  .item__comparison__subject
    類似商品と比較する
  %table.item__comparison__frame
    %tr
      %th.space
      %td
        = image_tag(src="https://images-na.ssl-images-amazon.com/images/I/51hWJNKH4SL._SL1200_.jpg", class: "example")
      %td
        = image_tag(src="https://images-na.ssl-images-amazon.com/images/I/51hWJNKH4SL._SL1200_.jpg", class: "example")
      %td
        = image_tag(src="https://images-na.ssl-images-amazon.com/images/I/51hWJNKH4SL._SL1200_.jpg", class: "example")
      %td
        = image_tag(src="https://images-na.ssl-images-amazon.com/images/I/51hWJNKH4SL._SL1200_.jpg", class: "example")
    %tr
      %th.space
      %td.column
        %b この商品は
        大金 本樫木槌 36mm 232002
      %td.column
        %a{:href => ""}SUN UP コンビハンマー ウッド&ゴム GW-45
      %td.column
        %a{:href => ""}大五郎 木槌 60mm
      %td.column
        %a{:href => ""}大金 イタヤ木槌 42mm 232003
    %tr
      %th.space
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
      %td.column
        %input{:name => "cart", :type => "submit", :value => "カートに入れる"}/
    %tr.color
      %th.evaluation  カスタマー評価
      %td.evaluation--color1  星
      %td.evaluation  星
      %td.evaluation  星
      %td.evaluation  星
    %tr
      %th.evaluation  価格
      %td.evaluation--color2  ¥ 539
      %td.evaluation  ¥ 600
      %td.evaluation  ¥ 512
      %td.evaluation  ¥ 755
    %tr.color
      %th.evaluation  出荷
      %td.evaluation--color1  対象商品¥ 2,000以上の注文で通常配送無料
      %td.evaluation  情報が提供されていません
      %td.evaluation  情報が提供されていません
      %td.evaluation  対象商品¥ 2,000以上の注文で通常配送無料
    %tr
      %th.evaluation  販売者
      %td.evaluation--color2  Amazon.co.jp
      %td.evaluation  Amazon.co.jp
      %td.evaluation  Amazon.co.jp
      %td.evaluation  Amazon.co.jp
    %tr.color
      %th.evaluation  商品本体サイズ
      %td.evaluation--color1  情報が提供されていません
      %td.evaluation  34 × 4.2 × 12.8 cm
      %td.evaluation  37 × 5.5 × 15 cm
      %td.evaluation  情報が提供されていません
    %tr
      %th.evaluation  品目の重量
      %td.evaluation--color2  情報が提供されていません
      %td.evaluation  240 g
      %td.evaluation  400 g
      %td.evaluation  情報が提供されていません
