.item__frame__image
  .item__frame__image__list
    - @item_images.each do |images|
      .item__frame__image__list__picture
        = image_tag(images.image, size: '40x40')
  .item__frame__image__preview
    = image_tag(src="https://images-na.ssl-images-amazon.com/images/I/51hWJNKH4SL._SL1200_.jpg", class: "example")
