.item__reviews__template
  .item__reviews__template__review__name
  .item__reviews__template__review__star
    星○個
  .item__reviews__template__review__time
  .item__reviews__template__review__amazon-buy
  .item__reviews__template__review__text
