
$white: #ffffff;

$header: #0f2350;
// ヘッダーカラー：濃藍

$foundation: #eae5e3;
// コンテンツの下地：素色

$bright-button: #ffd900;
// 明るいボタンの色：黄色

$dark-button: #ee7800;
// 暗いボタンの色：橙色

$column: #eaedf7;
// カラムの色：白菫色

$link: #0095d9;
// リンクの色：青色

$caption: #C67400;
// 見出しの色：こはく色

$price: #e60033;
// 価格の色：赤色
