  .nav-belt {
    height: 60px;
    background-color: #c09a8b;
  }

  .nav-belt-left {
    height: 100%;
    width:  13%;
    float: left;
    background-color: #232f3e;
  }

  .nav-belt-left a {
    text-decoration: none;
  }

  .amazon-logo {
    font-size: 26px;
    font-family: monospace;
    color: #ffffff;
    margin-left: 20px;
  }

  .amazon-logo-side {
    font-size: 3px;
    color: #ffffff;
  }

  .nav-belt-center {
    height: 100%;
    width:  59%;
    float: left;
    background-color: #232f3e;
  }

  #item-search-text {
    width:  88%;
    padding: 5px;
    margin-top: 10px;
  }

  #item-search-button {
    padding: 10px 9px 8px 9px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #febd69;
    background-color: #febd69;
  }

  .nav-belt-right {
    height: 100%;
    width:  28%;
    float: left;
    background-color: #232f3e;
    position: relative;

    img {
      margin-top: 9px;
      position: absolute;
      right: 0;
    }
  }



  .nav-main {
       height: 39px;
  }

  .nav-main-left {
    height: 100%;
    width:  13%;
    float: left;
    color: #ffffff;
    background-color: #232f3e;
  }

  .nav-main-left-address-icon {
    font-size: 22px;
    float: left;
  }

  .nav-main-left-address {
    float: left;
  }

  .delivery-destination-name {
    font-size: 12px;
    font-family: arial,sans-serif;
  }

  .nav-main-left-post-code {
    font-size: 14px;
    font-weight: bold;
    font-family: arial,sans-serif;
  }


  .nav-main-center {
    height: 100%;
    width:  51%;
    float: left;
    background-color: #232f3e;
  }

  .nav-main-center-shop-category {
    line-height: 55px;
    font-weight: bold;
    margin-right: 25px;
    float: left;
    color: #ffffff;
  }

  .shop-menu-container {
    font-size: 12px;
    color: #ccc;
  }

  #amazon-point {
    color: #e9943c;
  }

  .nav-shop-menu {
    font-size: 13px;
    padding: 0 10px 0 10px;
  }


  .nav-main-right {
    height: 100%;
    width:  36%;
    float: left;
    color: #fff;
    background-color: #232f3e;
    position: relative;
  }

  .nav-status-bar {
    margin-left: 90px;
  }

  .personal-data {
    float: left;
    bottom: 0px;
    position: absolute;
  }

  .personal-data-user-status {
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
  }

  .personal-data-account-list {
    font-size: 14px;
    font-weight: bold;
  }

  .nav-status-order-history {
    color: #fff;
    margin-top: 18px;
    margin-left: 149px;
    font-size: 14px;
    float: left;
    font-weight: bold;
  }

  .nav-status-prime {
    color: #fff;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 14px;
    float: left;
    font-weight: bold;
  }

  .nav-status-cart {
    color: #fff;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 14px;
    float: left;
    font-weight: bold;
    text-decoration: none;
  }
