.item {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
  @import "item/genre";
  @include clearfix;

  &__frame {
  height: 100%;
  width: calc(100% - 270px);
  float: left;
    @import "item/image";
    @import "item/product"
  }

  @import "item/order";
  @import "item/comparison";
  @import "item/reviews"
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}
