.review-wrapper {
  margin: 10px auto;
  height: 100%;
  width: 100%;
}

.review-detail-part {

}

.review-detail-part--item-name {

}

.review-post-part {
  text-align: center;
  margin: 10px auto;
}

#post-review {

}

.review-title-text {
  margin: 10px auto;
}

.review-title {
  display: block;
  margin: 10px auto;
  width:500px;
}

.review-content-text {
  margin: 10px auto;

}

.review-content {
  display: block;
  margin: 10px auto;
  width:700px;
  height: 100px;
}
.review-user {
  display: block;
  margin: 10px auto;
  width:400px;
}
.review-submit {
  display: block;
  width: 100px;
  background-color: orange;
  margin: 10px auto;
}
