&__product {
  width: calc(70% - 20px);
  height: 100%;
  padding: 0 10px;
  float: left;
  &__name {
    height: 30px;
    width: 100%;
  }
  &__seller {
    height: 20px;
    width: 100%;
    font-size: 13px;
    color: $link;
  }
  &__star {
    height: 100%;
    width: 100px;
    float: left;
    font-size: 13px;
    border-bottom: solid 1px gray;
  }
  &__star-count {
    height: calc(100% + 30px);
    width: 100%;
    font-size: 13px;
    color: $link;
    border-bottom: solid 1px gray;
  }
  &__price {
    height: 30px;
    width: 100%;
    color: $price;
  }
  &__information {
    height: 100%;
    width: 100%;
    font-size: 13px;
  }
  &__comparison {
    height: 100%;
    width: 100%;
    font-size: 13px;
    padding-top: 20px;
  }
  &__report {
    height: 100%;
    width: 100%;
    font-size: 13px;
    padding: 10px 0;
  }
  &__publicity {
  }
}

.publicity {
  width: 100%;
}
