.wrapper
  /
    <div class="header">
    <div class="header-top">insert
    </div>
    <div class="header-bottom">insert
    </div>
    </div>
  .contents
    .content-top
      %img{:src => "assets/amazonblacktop.jpg",:width => "100%"}
    .content-left
      %h3.category recommend
      .items
        %ul.sample
          %li.item1
          %li.item2
          %li.item3
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
    .content-right
      .mini-items
        %a{:href => "https://www.amazon.co.jp/gift-cards-store/b/ref=topnav_storetab_gc?ie=UTF8&node=2351652051"}
          %img{:src => "assets/charge.gif"}
      .mini-items
        %a{:href => "https://www.amazon.co.jp/b/?node=4477550051"}
          %img{:src => "assets/terebi.jpg"}
      .mini-items
        %a{:href => "https://www.amazon.co.jp/b/?node=3535604051"}
          %img{:src => "assets/amagif.jpg"}
      /
        <div class="items mini">
        </div>




