.wrapper
  /
    <div class="header">
    <div class="header-top">insert
    </div>
    <div class="header-bottom">insert
    </div>
    </div>
  .contents
    .content-top
      content-top
    .content-left
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
    .content-right
      .mini-items
        %h3.mini-title ranking
        %p 1.brabrabra
        %p 2.brabrabra
        %p 3.brabrabra
        %p 4.brabrabra
        %p 5.brabrabra
      .mini-items
        %h3.mini-title campaign
        %p.text brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab
      .mini-items
        %h3.mini-title campaign
        %p.text brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab
      /
        <div class="items mini">
        </div>
  / .footer
  /   .footer-top#footer-top
  /     = link_to "topへ戻る", "/", class: "toTop"
  /   .footer-upper-mid
  /     .footer-content
  /       %ul.lists
  /         %li.list.about Amazonについて
  /         %li.list-footer-menu 採用情報
  /         %li.list-footer-menu Amazonについて
  /         %li.list-footer-menu プレスリリース
  /         %li.list-footer-menu Amazonと地球
  /         %li.list-footer-menu Amazonのコミュニティ活動
  /         %li.list-footer-menu AmazonGlobal
  /     .footer-content
  /       %ul.lists
  /         %li.list.about Amazonでビジネス
  /         %li.list-footer-menu Amazonで売る
  /         %li.list-footer-menu フルフィルメント
  /         %li.list-footer-menu マケプレプライム
  /         %li.list-footer-menu Amazonビジネスで法人販売
  /         %li.list-footer-menu Amazon Pay(アフィリエイト)
  /         %li.list-footer-menu Amazonで広告掲載をする
  /         %li.list-footer-menu Amazonで出版
  /         %li.list-footer-menu すべてのサービスを見る
  /     .footer-content
  /       %ul.lists
  /         %li.list.about Amazonでお支払い
  /         %li.list-footer-menu Amazonポイント
  /         %li.list-footer-menu Amazonギフト券
  /         %li.list-footer-menu Amazon Mastercard
  /         %li.list-footer-menu クレジットカード＆保険
  /         %li.list-footer-menu パートナーポイントプログラム
  /         %li.list-footer-menu Amazonギフト券チャージタイプ
  /         %li.list-footer-menu すべての支払い方法を見る
  /     .footer-content
  /       %ul.lists
  /         %li.list.about ヘルプ＆ガイド
  /         %li.list-footer-menu 配送料と配送情報
  /         %li.list-footer-menu Amazon プライム
  /         %li.list-footer-menu 商品の返品・交換
  /         %li.list-footer-menu コンテンツと端末の管理
  /         %li.list-footer-menu ヘルプ
  /   .footer-lower-mid
  /     %p.amazonLogo amazon
  /   .footer-bottom
  /     .footer-bottom--top
  /       .amazon-services
  /         %p.amazon-service-title Audible(オーディブル)
  /         %p.amazon-service-explanation 本は「朗読」で聴こう
  /         %p.amazon-service-explanation 1ヶ月間無料体験も
  /       .amazon-services
  /         %p.amazon-service-title アマゾン ウェブ サービス(AWS)
  /         %p.amazon-service-explanation クラウドコンピューティング
  /         %p.amazon-service-explanation サービス
  /       .amazon-services
  /         %p.amazon-service-title Amazonアウトレット
  /         %p.amazon-service-explanation 訳あり商品を
  /         %p.amazon-service-explanation お手頃価格で販売
  /       .amazon-services
  /         %p.amazon-service-title Prime Now
  /         %p.amazon-service-explanation 好きな時間が選べる。
  /         %p.amazon-service-explanation 1時間で届く

      
  /     .footer-bottom--middle
  /       .amazon-services
  /         %p.amazon-service-title Amazon Business
  /         %p.amazon-service-explanation 法人・個人事業主様向け
  /         %p.amazon-service-explanation サービス
  /       .amazon-services
  /         %p.amazon-service-title Book Depository
  /         %p.amazon-service-explanation 送料無料で
  /         %p.amazon-service-explanation 世界中にお届け
  /       .amazon-services
  /         %p.amazon-service-title Shopbop
  /         %p.amazon-service-explanation 世界中の厳選された
  /         %p.amazon-service-explanation ファッションアイテム


  /     .footer-bottom--bottom
  /       .amazon-services-regulations
  /         %ul.lists
  /           %li.amazon-services-regulation 利用規約
  /           %li.amazon-services-regulation プライバシー規約
  /           %li.amazon-services-regulation パーソナライズド広告規約
  /           %li.amazon-services-regulation.right-sentences ©1996-2018, Amazon.com, Inc. or its affiliates






