.wrapper
  /
    <div class="header">
    <div class="header-top">insert
    </div>
    <div class="header-bottom">insert
    </div>
    </div>
  .contents
    .content-top
      content-top
    .content-left
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
    .content-right
      .mini-items
        %h3.mini-title ranking
        %p 1.brabrabra
        %p 2.brabrabra
        %p 3.brabrabra
        %p 4.brabrabra
        %p 5.brabrabra
      .mini-items
        %h3.mini-title campaign
        %p.text brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab
      .mini-items
        %h3.mini-title campaign
        %p.text brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab
      /
        <div class="items mini">
        </div>
  .footer
    .footer-top
      %p top&#x3078;&#x623B;&#x308B;
    .footer-upper-mid
      .footer-content
        %ul.lists
          %li.list.about About
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
      .footer-content
        %ul.lists
          %li.list.about Business
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
      .footer-content
        %ul.lists
          %li.list.about Payment
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
      .footer-content
        %ul.lists
          %li.list.about Help  Guide
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
          %li.list brabrabrabra
    .footer-lower-mid
    .footer-bottom
