<div class="wrapper">
    <!--  <div class="header">
       <div class="header-top">insert
       </div>
       <div class="header-bottom">insert
       </div>
     </div> -->

      <div class="contents">
        <div class="content-top">content-top
        </div>
      <div class="content-left">
        <h3 class="category">recommend</h3>
        <div class="items">
      </div>
        <h3 class="category">recommend</h3>
        <div class="items">
        </div>
         <h3 class="category">recommend</h3>
         <div class="items">
         </div>
         <h3 class="category">recommend</h3>
         <div class="items">
         </div>
       </div>
       <div class="content-right">
         <div class="mini-items">
           <h3 class="mini-title">ranking</p>
           <p>1.brabrabra</p>
           <p>2.brabrabra</p>
           <p>3.brabrabra</p>
           <p>4.brabrabra</p>
           <p>5.brabrabra</p>
         </div>
         <div class="mini-items">
           <h3 class="mini-title">campaign</h3>
           <p class="text">brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab</p>

         </div>
         <div class="mini-items">
           <h3 class="mini-title">campaign</h3>
           <p class="text">brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab</p>
         </div>
        <!--  <div class="items mini">
         </div> -->
       </div>
     </div>

     <div class="footer">
       <div class="footer-top">
         <p>topへ戻る</p>
       </div>

       <div class="footer-upper-mid">
         <div class="footer-content">
           <ul class="lists">
             <li class="list about">About</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
           </ul>
         </div>
         <div class="footer-content">
           <ul class="lists">
             <li class="list about">Business</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
           </ul>
         </div>
         <div class="footer-content">
           <ul class="lists">
             <li class="list about">Payment</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
           </ul>
         </div>
         <div class="footer-content">
           <ul class="lists">
             <li class="list about">Help & Guide</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
             <li class="list">brabrabrabra</li>
           </ul>
         </div>
       </div>

       <div class="footer-lower-mid"></div>

       <div class="footer-bottom"></div>
     </div>
   </div>
