.wrapper
  /
    <div class="header">
    <div class="header-top">insert
    </div>
    <div class="header-bottom">insert
    </div>
    </div>
  .contents
    .content-top
      %img{:src => "https://lh6.googleusercontent.com/qqTcdRdgHym2vqg6ZLxAKGo8C6KgypWrEJgP-y1iq8A4ZGnL6SDh85ttE-eelbYJRKp9KK5_evaaIwGVGaL44iez0F-EiUIv0SNaSNZLPt_vG1tTogM=w1175"}
    .content-left
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
      %h3.category recommend
      .items
    .content-right
      .mini-items
        %h3.mini-title ranking
        %p 1.brabrabra
        %p 2.brabrabra
        %p 3.brabrabra
        %p 4.brabrabra
        %p 5.brabrabra
      .mini-items
        %h3.mini-title campaign
        %p.text brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab
      .mini-items
        %h3.mini-title campaign
        %p.text brabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrabrab
      /
        <div class="items mini">
        </div>




