html, body {
 margin: 0;
 padding: 0;
// overflow: scroll;
}

ul {
 overflow: scroll;
 margin: 0;
 padding: 0;
}

.wrapper {
 margin: 0;
 padding: 0;
// overflow: scroll;
}

// .header {
//  position: fixed;
//  width: 100%;
//  height: 100px;
//  background-color: #000066;
//  color: white;
// }

.header-top {
 line-height: 50px;
 background-color: #DDDDDD;
 width: 100%;
 height: 50%;
}

.header-bottom {
 line-height: 50px;
 background-color: #CCCCCC;
 width: 100%;
 height:50%;
}

.contents {
 width: 100%;
 height: 1700px;
 background-color: #111111;
 color: white;
}

.content-top {
 width: 100%;
 height: 400px;
 background-color: yellow;
}

.content-left {
 width: 70%;
 height: calc(100% - 400px);
 background-color: red;
 float: left;
 color: white;
 box-sizing:border-box;

}

.items {
 width: 90%;
 height: 19%;
 background-color: #888888;
 margin: 1px auto;
 box-sizing: border-box;

}

.category {
 padding-left: 30px;
}
.content-right {
 width: 30%;
 height: calc(100% - 400px);
 background-color: pink;
 float: left;
 color: white;
}

.mini-items {
 width: 90%;
 height: 22%;
 box-sizing: border-box;
 background-color: #888888;
 margin: 10px auto;
 text-align: center;
 padding: 10px;

}
.mini-title {
 font-weight: bold;
}
.text {
 word-wrap: break-word;
}

.footer {
 width: 100%;
 height: 660px;
 background-color: #000099;
 color: #CCCDCE;
 font-weight: lighter;
 font-size: 12px;
}

.footer-top {
 width: 100%;
 height:50px;
 background-color: #35465B;
 padding-top: 10px;
 text-align: center;
 position: relative;

}

.footer-top:hover {
 background-color: #485769;
}

.toTop {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $white;
}

.footer-upper-mid {
 width: 100%;
 height: 300px;
 background-color: #212E3F;
 border-bottom: 1px solid white;
 box-sizing: border-box;
}

.footer-content {
 width:25%;
 float: left;
 text-align: center;
 padding-top:20px;
}

.list-footer-menu {
 list-style: none;
 padding-top: 8px;

}

.about {
 color: white;
 font-weight: bold;
 font-size: 15px;

}

.footer-lower-mid {
 width: 100%;
 height: 110px;
 background-color: #212E3F;
}

.amazonLogo {
  line-height: 110px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.footer-bottom {
 width: 100%;
 height: 200px;
 background-color: #121922;
 box-sizing: border-box;
 padding: 10px 250px;
}

.footer-bottom--top {
  width: 100%;
  height: 33%;
}

.footer-bottom-middle {
  width: 100%;
  height: 33%;
}

.amazon-services {
  float: left;
  width: 25%;
}

.amazon-service-title {
  color: $white;
  font-size: 10px;
}

.amazon-service-explanation {
  font-size: 8px;
  color: #727476;
}

.footer-bottom--bottom {
  width: 100%;
  height: 34%;
  clear: both;
  position: relative;
}

.amazon-services-regulations {
  position: absolute;
  bottom: 0;
  padding-left:  140px;

}

.amazon-services-regulation {
  float: left;
  padding-left: 10px;
  color: $white;
}

.right-sentences {
  padding-left: 20px;
  // font-size: 11px;
  color: #CCCDCE;
}



