@mixin side_line($line_color) { ///文字の両サイドに線を表示させる　文字自体は中央ぞろえになる
    // @include side_line(#blue); こんな感じで呼び出す

    display: flex;
    align-items: center;
    
    &:before, &:after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: $line_color;
        display: block;
    }
    &:before {
        margin-right: .4em;
    }
    &:after {
        margin-left: .4em;
    }
}
