    <header class="header">

        <div class="nav-belt">
            <div class="nav-belt-left">
                <a href="" style="text-decoration:none">
                    <span class="amazon-logo">amazon</span><span class="amazon-logo-side">.co.jp</span>
                </a>
            </div>

            <div class="nav-belt-center">
                <input type="text" id="item-search-text"><button id="item-search-button"><span>🔍</span></button>
            </div>

            <div class="nav-belt-right">
                右 プライム会員  ロゴ
            </div>
        </div>

        <div class="nav-main">
            <div class="nav-main-left">
                <div class="address-icon"> ● </div>
                <div class="address">
                    <div class="delivery-destination-name">お届け先 テスター さん</div>
                    <div class="post-code">384-2609</div>
                </div>
            </div>

            <div class="nav-main-center">
                <div class="shop-category">
                    カテゴリー
                </div>
                <div class="shop-menu-container">
                    <div class="nav-amazon-point">
                            Amazonポイント: <span id="amazon-point">22</span>
                    </div>
                    <div class="shop-menu">
                        <a class="menu">マイストア</a>
                        <a class="menu">タイムセール</a>
                        <a class="menu">ギフト券</a>
                        <a class="menu">Amazonで売る</a>
                        <a class="menu">ヘルプ</a>
                    </div>
                </div>
            </div>

            <div class="nav-main-right">
                <div class="nav-status-bar">
                    <div class="personal_data">
                        <div class="user-name">
                            テスターさん
                        </div>
                        <div class="account-list">
                            アカウント＆リスト
                        </div>
                    </div>
                    <div class="order-history">
                        注文履歴
                    </div>
                    <div class="prime">
                        プライム
                    </div>
                    <div class="cart">
                        カート
                    </div>
                </div>
            </div>
        </div>
    </header>
